body.dark {
    background: #121212;
}

body.dark .app {
    background: #1e1e1e;
    color: white;
}

body.dark input {
    background: #2c2c2c;
    color: white;
    border: none;
}

body.dark li {
    background: #2a2a2a;
}

body.dark button {
    background: #bb86fc;
}